.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.alert {
      font-size: 20px;
      text-align: center;
  }
.alert_greet {
     font-weight: 900;
     margin: 20px 0;
     color: #ff6b08;
}
