/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/main-utils';
@import './base/main-base';
@import './components/main-components';
@import './components/modal-card-film';
@import './layout/main-layout';
