<ul class="container gallery gallery__container">
    <!-- Карточки изображений -->
</ul>

<!-- Картинка-заглушка, на случай ошибки -->
<div class="container errorImg__container visually-hidden">
    <p class="error_text">Sorry, but we didn't find a movie with that title. Please enter a different movie title</p>
    <img src="./images/OnErrorImg.gif" alt="Homer Simpson" class ="errorImg" />
</div>

<!-- Картинка-заглушка, на случай пустой библиотеки пользователя -->
<div class="container errorImg__container errorImg__container--Library visually-hidden">
    <p class="alert_greet">Hello movie lover!</p>
    <p class="alert_text">You haven't added a movie yet. Please make your choice.</p>
    <img src="./images/imgLib.gif" alt="Choice" class="emptyImg"/>
</div>
