<ul class="container gallery gallery__container">
    <!-- Карточки изображений -->
</ul>

<!-- Картинка-заглушка, на случай ошибки -->
<div class="container errorImg__container visually-hidden">
    <img src="./images/onErrorSadCat.gif" alt="sad cat" class ="errorImg" />
</div>

<!-- Картинка-заглушка, на случай пустой библиотеки пользователя -->
<div class="container errorImg__container errorImg__container--Library visually-hidden">
    <p class="alert_greet">Hello movie lover!</p>
    <p class="alert_text">You haven't added a movie yet. Please make your choice.</p>
    <img src="./images/2vg.gif" alt="Choice" class="errorImg" />
</div>
