<footer class="footer">
    <div class="footer__container container">
        <p class="footer__text">&#169;  2022 | All Rights Reserved | 
            <a class="footer__link" href="https://github.com/Oleksandr-Stepanyshyn/filmoteka.git" title="project link" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon-github" width="20" height="20">
                    <use href="./images/sprite.svg#icon-github-logo"></use>
                </svg>
            </a> 
            |
        </p>
        <p class="footer__text-btn">
            Developed with  
            <svg class="footer__icon-heart" width="14" height="13">
                <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            by
            <button class="footer__btn js-open-modal-team" type="button">GoIT Students</button>
        </p>
    </div>
</footer>