<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <button class="logo-btn btn js-logo-btn animate__animated animate__tada animate__delay-2s">
        <svg width="24" height="24">
          <use href="/images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </button>
      <ul class="nav__list">
        <li class="nav__item">
          <button class="nav__btn btn nav__btn--currently js-nav-home-btn">Home</button>
        </li>
        <li class="nav__item">
          <button class="nav__btn btn js-nav-library-btn">My library</button>
        </li>
      </ul>
    </nav>

    <form class="form" autocomplete="off">
      <div class="form__inner">
        <input class="form__input" type="text" name="searchQuery" placeholder="Search movies" />
        <button class="form__btn btn js-form-btn" type="submit" aria-label="search films">
          <svg class="search-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <div class="form__select">
        <label class="form__select-text" for="genre"></label>
        <select class="form__select-genre" id="genre" name="genre">
          <option class="form__select-option" value="">Choose genre of films</option>
        </select>
      </div>
      <div class="search-error search-error--hidden"></div>
    </form>

    <div class="library visually-hidden">
      <button class="library__btn btn js-btn-watched">Watched</button>
      <button class="library__btn btn js-btn-queue">Queue</button>
    </div>

    <!-- Переключатель Day or Week -->

    <div class="toggler">
      <label class="label">
        <span class="text"></span>
        <input id="switch" name="switch" type="checkbox" />
        <span class="toggler__box"></span>
      </label>
    </div>
  </div>

  <button class="scroll-to-top scroll-to-top--hidden">
    <svg height="14" width="14">
      <use href="./images/sprite.svg#icon-scroll"></use>
    </svg>
  </button>
</header>


<div class="checkbox-container">
  <label class="checkbox-label">
    <span class="checkbox-text">
      <svg class="checkbox-icon day" width="30" height="30">
        <use href="./images/sprite.svg#icon-day"></use>
      </svg>
      <svg class="checkbox-icon night is-hidden" width="30" height="30">
        <use href="./images/sprite.svg#icon-night"></use>
      </svg>
    </span>
  </label>
</div>