
<div class="backdrop" data-modal>

<div class="modal-film">
    <button type="button" class="modal-film__button-close" data-modal-close>
        <svg class="modal-film__icon-close" width="30" height="30">
            <use href="/images/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <div class="modal-film__content-wrapper">
<img class="modal-film__poster" src="/images/dummy-card.jpg">
<div class="modal-film__info-wrapper">
<h1 class="modal-film__film-title">A FISTFUL OF LEAD</h1>
<table class="modal-film__details-table">
    <tr class="modal-film__details-table--row">
        <td class="modal-film__details-table--heading">Vote / Votes</td>
        <td>
            <span class="modal-film__details-table--votes-orange">7.3</span><span class="modal-film__details-table--votes-slash">/</span><span class="modal-film__details-table--votes-grey">1260</span>
        </td>
    </tr>
    <tr class="modal-film__details-table--row">
        <td class="modal-film__details-table--heading">Popularity</td>
        <td class="modal-film__details-table--popularity">100.2</td>
    </tr>
    <tr class="modal-film__details-table--row">
        <td class="modal-film__details-table--heading">Original Title</td>
        <td class="modal-film__details-table--original-title">A FISTFUL OF LEAD</td>
    </tr>
    <tr class="modal-film__details-table--row">
        <td class="modal-film__details-table--heading">Genre</td>
        <td class="modal-film__details-table--genre">Western</td>
    </tr>
</table>
<h2 class="modal-film__about-title">About</h2>
<p class="modal-film__description">Four of the Wests most infamous outlaws assemble to steal a huge stash of gold from
    the most corrupt settlement of the
    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in
    the
    abandoned gold mine where they happen across another gang of three  who themselves were planning to hit the very
    same
    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... theyve
    been double crossed  but by who and how?
</p>

    <div class="modal-film__buttons-container">
        <button type="submit" class="modal-film__button-watched">Add to Watched</button>
        <button type="submit" class="modal-film__button-queue">Add to Queue</button>
    </div>
    </div>

</div>
</div>

</div>