<div class="backdrop is-hidden js-modal-team">
    <div class="modal-team swiper">
        <h2 class="modal-team__title">Our team</h2>
        <button class="modal-team__btn js-close-modal-team" type="button">
            <svg class="modal-team__btn-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="modal-team__list swiper-wrapper">
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/oleksandr-stepanyshyn-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Oleksandr Stepanyshyn</p>
                    <p class="modal-team__text--position">Team lead</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/svitlana-trotsenko-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Svitlana Trotsenko</p>
                    <p class="modal-team__text--position">Scrum master</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/serhii-tatsakovych-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Serhii Tatsakovych</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/daria-pysenko-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Daria Pysenko</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/denis-moskalenko-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Denis Moskalenko</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/vita-dovhan-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Vita Dovhan</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/yaroslav-semenov-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Yaroslav Semenov</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/aleksandra-bukina-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Aleksandra Bukina</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/yulia-bisyuk-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Yulia Bisyuk</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/mykhailo-srogyi.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Mykhailo Srogyi</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
            <li class="modal-team__item swiper-slide">
                <div class="modal-team__img">
                    <img src="./images/team/yuliya-hrabar-min.jpg" alt="">
                </div>
                <div class="modal-team__text">
                    <p class="modal-team__text--name">Yulia Grabar</p>
                    <p class="modal-team__text--position">Developer</p>
                </div>
            </li>
        </ul>

        <!-- pagination -->
        <div class="swiper-pagination swiper-pag"></div>

        <!-- navigation buttons -->
        <div class="swiper-button-prev swiper-btn"></div>
        <div class="swiper-button-next swiper-btn"></div>

        <!-- need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>