<div class="container .pagination-container">
    <!-- <button class="arrow arrow-back">
                <svg class="pagination__icon" width="16" height="16">
                    <use href="./images/sprite.svg#icon-arrow-left"></use>
                </svg>
            </button>
    <ul class="pagination">
       
        <li class="pagination-item number"><span>1</span></li>
        <li class="pagination-item dots"><span>...</span></li>
        <li class="pagination-item number"><span>13</span></li>
        <li class="pagination-item number"><span>1</span></li>
        <li class="pagination-item active number"><span>15</span></li>
        <li class="pagination-item number"><span>16</span></li>
        <li class="pagination-item number"><span>17</span></li>
        <li class="pagination-item dots"><span>...</span></li>
        <li class="pagination-item number"><span>20</span></li> 
        
    </ul>-->
    <!-- <button class="arrow arrow-forward">
                <svg class="pagination__icon" width="16" height="16">
                    <use href="./images/sprite.svg#icon-arrow-next"></use>
                </svg>
            </button>  -->
            <div id="tui-pagination-container" class="tui-pagination"></div>
</div>