.errorImg__container--Library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;

  // @media screen and (min-width: 768px) {
  //   padding-top: 50px;
  //   padding-bottom: 50px;
  // }
}

.alert_greet {
  margin: 20px 0;
  font-weight: 900;
  color: #ff6b08;
}

.alert_text {
  margin-bottom: 20px;
}
.emptyImg {
  display: block;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    width: 400px;
  }
}
