.errorImg__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.errorImg {
  display: block;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    width: 270px;
  }
}
