.film-card {
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.poster {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    height: 398px;
  }
}

.film-card__title {
  @include textstyle;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}

.info {
  display: flex;
  align-items: center;
}

.film-card__info {
  @include textstyle;
  font-size: 12px;
  line-height: 1.33;
  color: $accent-text-color;
}

.vote {
  @include textstyle;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $accent-color;
  text-align: center;
  text-transform: uppercase;
  width: 36px;
  margin-left: 10px;
}
