.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__container {
  padding-top: 20px;
  padding-bottom: 120px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 150px;
  }
}
