@import './modal-card-film';
@import './modal-team';
@import './films-gallery';
@import './film-card';
@import './pagination';
@import './error-img';
@import './scroll-to-top';
@import './themeSwitch'
