.modal-open {
  overflow: hidden;
}

.backdrop-modal-film {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
}

.modal-film__button-close {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;

  transition-property: transform;
  transition-timing-function: linear;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
    transform: scale(1.15);
  }
}

.modal-film {
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  // max-width: 280px;
  max-height: 95%;
  background-color: #fff;
  padding: 48px 20px 41px;
  overflow-y: auto;

  @media screen and (min-width: 320px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    max-width: 618px;
    max-height: 562px;
    padding: 42px 30px 40px 28px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 884px;
    max-height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

.modal-film__content-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
  }

  @media screen and (min-width: 320px) {
    grid-column-gap: 30px;
  }
}

.modal-film__poster {
  margin-bottom: 30px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 240px;
  height: 357px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: 264px;
    height: 373px;
  }
  @media screen and (min-width: 1024px) {
    object-fit: contain;
    width: 396px;
    height: 478px;
  }
}

.modal-film__film-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
  vertical-align: top;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.67;
  }
}

.modal-film__details-table {
  margin-bottom: 20px;
  width: 100%;
}

.modal-film__details-table--row {
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

.modal-film__details-table--heading {
  width: 40%;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;

  color: $light-grey-text-color;

  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}
.modal-film__details-table--votes-orange {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.67;
  text-align: center;
  color: white;
  background-color: $accent-color;
  padding: 1px 10px;
  border-radius: 5px;
}

.modal-film__details-table--votes-slash {
  color: $light-grey-text-color;
  margin-left: 2px;
  margin-right: 2px;
}

.modal-film__details-table--votes-grey {
  background-color: #f7f7f7;
  padding: 1px 10px;
  border-radius: 5px;
}

.modal-film__details-table--popularity .modal-film__details-table--genre {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.67;
}

.modal-film__about-title,
.modal-film__details-table--original-title {
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
}

.modal-film__description {
  margin-top: 10px;
  margin-bottom: 21px;

  font-style: normal;
  line-height: 1.67;
}

.modal-film__buttons-container {
  display: flex;
  align-items: center;
}

.modal-film__button-watched {
  padding: 7px 8px 5px;
  cursor: pointer;
  border-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: $accent-color;
  color: #fff;
  width: 113px;
  height: 44px;
  transition-property: transform;
  transition-duration: 500ms;

  margin-right: 15px;
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.modal-film__button-queue {
  padding: 7px 8px 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
  width: 113px;
  height: 44px;
  transition-property: transform;
  transition-duration: 500ms;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.modal-film__button-watched:hover,
.modal-film__button-queue:hover {
  transform: scale(1.15);
}
