
body.dark{
  background-color: #201f1f; 
  color: #ffffff;
}
.dark-footer{
  background-color: #000000;
  color: #ffffff;
}

.checkbox-container{
  position: absolute;
  top: 10px;
  right: 55px;
  @media screen and (min-width: 768px) {
    right: 100px;
  }
  @media screen and (min-width: 1024px) {
    right: 250px;
    display: inline-block;
  }
}

.checkbox-icon{
  position: absolute;
  top: 3px;
  left: -3px;
}

is-hidden{
  display: none;
}

.main-shadow{
  box-shadow: 15px 17px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 15px 17px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 15px 17px 14px 0px rgba(0,0,0,0.75);
}
.pagination-switch{
  background-color: #000000;
}