
body.dark{
  background-color: #272121; 
  color: #ffffff;
}
.light{
  background-color: #ffffff; 
  color: #000000;
}

.dark-footer{
  background-color: #000000;
  color: #ffffff;
}
.icon-footer{
  fill:#ffffff;
}

.checkbox-container{
  position: absolute;
  top: 10px;
  right: 55px;
  @media screen and (min-width: 768px) {
    right: 100px;
  }
  @media screen and (min-width: 1024px) {
    right: 250px;
    display: inline-block;
  }
}

.checkbox-icon{
  position: absolute;
  top: 3px;
  left: -3px;
}

is-hidden{
  display: none;
}

.shadow-header{
  box-shadow:0px 10px 10px 0px rgba(255, 107, 1, 0.425);
}
  
.shadow-footer{
  box-shadow: 0px 0px 14px 13px rgba(255, 107, 1, 0.425);

}

.pagination-switch{
  background-color: #000000;
}

.icon-footer {
  fill: #ffffff;
}