.footer {
    color: #545454;
    background-color: #F7F7F7;
}

.footer__container {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;

    padding: 30px 0 30px;
    
    @media screen and (max-width: 480px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.footer__icon {
    fill: $accent-text-color;
}

.footer__link {
    display: inline;
    text-decoration: underline;
}