.body__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    color: #545454;
    background-color: #F7F7F7;
}

.footer__container {
    @include flexcenter;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    
    padding: 28px 35px;
    
    @media screen and (min-width: 768px) {
        padding: 30px 0;
        font-size: 16px;
        line-height: 1.17;
    }
}

.footer__text-btn {
    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 5px;
    }
}

.footer__icon {
    fill: $accent-text-color;
    margin: 0px 8px;
}

.footer__btn {
    text-decoration: underline;
    text-align: center;
    border: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}