.btn {
  background-color: transparent;
  cursor: pointer;
}

// ===================== header =======================
.header__container {
  position: relative;
}

.header {
  min-height: 230px;
  padding-top: 46px;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mob-background-home-1x.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mob-background-home-2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tab-background-home-1x.jpg');
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/tab-background-home-2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desk-background-home-1x.jpg');
    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/desk-background-home-2x.jpg');
    }
  }
}

.header--library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mob-background-library-1x.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mob-background-library-2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tab-background-library-1x.jpg');
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/tab-background-library-2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desk-background-library-1x.jpg');
    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/desk-background-library-2x.jpg');
    }
  }
}

// ============================= nav ============================

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-btn {
  --animate-duration: 1.25s;
}

.logo-text {
  margin-left: 10px;

  color: #ffffff;
  font-size: 30px;
  line-height: calc(35 / 30);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item:last-child {
  margin-left: 39px;
}

.nav__btn,
.library__btn {
  color: #ffffff;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.logo-btn,
.nav__btn,
.form__btn {
  padding: 0;

  border: 0;
}

.nav__item {
  position: relative;
}

.nav__btn {
  transform: scale(1);
  transition: transform linear 250ms;
}

.nav__btn::after {
  content: '';

  position: absolute;
  bottom: -3px;

  display: block;

  height: 3px;
  width: 100%;

  background-color: $accent-color;

  transform: scale(0);
  opacity: 0;
  transition: transform linear 350ms, opacity linear 250ms;
}

.nav__btn:hover::after {
  transform: scale(1);
  opacity: 0.5;
}

.nav__btn--currently::after {
  transform: scale(1);
  opacity: 1;
}

.nav__btn--currently:hover::after {
  opacity: 1;
}

// =========================== form =========================

.form {
  margin-top: 40px;
}

.form__inner {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
}

.form__input {
  width: 100%;

  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.5px solid #ffffff;
  outline: 0;
}

.form__input,
.form__input::placeholder {
  padding-bottom: 4px;

  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.form__btn {
  position: absolute;
  right: 0;
  height: 100%;

  transition: transform linear 200ms;

  &:hover {
    transform: scale(1.15);
  }
}

.form__select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.form__select-text {
  position: absolute;
}

.form__select-genre {
  background-color: #ffffff00;
  z-index: 1;
  width: 170px;
  border-radius: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $accent-text-color;

  cursor: pointer;
  transition: transform linear 200ms;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.form__select-option {
  background-color: #ffffff00;
  border-radius: 5px;
}

// ======================== message erorr ======================

.search-error {
  margin-top: 5px;

  color: #ff001b;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 15);
  text-align: center;

  opacity: 1;
  visibility: visible;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
}

.search-error--hidden {
  opacity: 0;
  visibility: hidden;

  transition: opacity linear 350ms, visibility linear 350ms;
}

.film-name {
  font-weight: 500;
  text-transform: uppercase;
}

// ====================== library =====================

.library {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.library__btn {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 130px;

  border: 1px solid #ffffff;
  border-radius: 5px;

  transition: transform linear 250ms;

  @media screen and (min-width: 768px) {
    width: 136px;
  }
}

.library__btn:last-child {
  margin-left: 20px;

  &:hover {
    transform: scale(1.025);
  }
}

.library__btn--currenly {
  border: 0;
  background-color: $accent-text-color;

  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

  transition: background-color linear 250ms, box-shadow linear 250ms, transform linear 250ms;
}

// ====================== toggler-day/week =====================

.toggler {
  position: absolute;
  top: 158px;
  right: 25px;

  @media screen and (min-width: 768px) {
    right: 80px;
  }
  @media screen and (min-width: 1024px) {
    right: 75px;
  }

  display: inline-block;
}

.toggler input {
  position: fixed;
  transform: scale(0);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggler__box {
  position: relative;

  display: inline-block;
  margin-left: 5px;
  height: 22px;
  width: 37px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: background 200ms ease;
  cursor: pointer;
}

.toggler__box::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  background: #f46a0d;
  border-radius: 50%;
  transition: transform 200ms ease;
}

.text {
  font-size: 14px;
  text-align: center;

  border-radius: 5px;
}

input:checked + .toggler__box {
  background: transparent;
  border: 1px solid #f46a0d;
}

input:checked + .toggler__box::before {
  transform: translateX(13px);
  background: #ffffff;
}
